.attractions-container {
    max-width: 1290px;
    margin: 0 auto;
    margin-left: 130px;
    margin-right: 16px;

    .attractions-title {
        margin: 48px 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .attractions-container {
        max-width: 344px;
        margin: 0 16px;

        .attractions-title {
            margin: 16px 0px 32px 0px;
        }
    }
}
