.attractions-form {
    margin-bottom: 60px;
    &-input {
        display: flex;
        margin-bottom: 16px;
        gap: 16px;

        .form-image-wrapper {
            .form-image {
                position: relative;
                display: flex;
                cursor: pointer;
                height: 212px;
                max-width: 288px;
                border: 2px solid $gray-100;
                border-radius: 8px;
                justify-content: center;
                padding: 94px 114px;
                overflow: hidden;

                &-input {
                    display: none;
                }

                &-preview {
                    position: absolute;
                    left: 0%;
                    top: 0%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
        }

        .form-text-wrapper {
            max-width: 416px;

            .form-title {
                border: 2px solid $gray-100;
                border-radius: 4px;
                background: $white;
                margin: 4px 0 16px 0;
                height: 56px;
                max-width: 328px;
                width: 100%;
                padding: 16px 16px 16px 16px;
            }

            .form-description {
                border: 2px solid $gray-100;
                border-radius: 4px;
                background: $white;
                height: 136px;
                max-width: 416px;
                width: 100%;
                padding: 38px 16px 72px 20px;
            }
        }
    }
}

.form-button-wrapper {
    display: flex;
    justify-content: flex-end;
    max-width: 722px;

    .form-submit-button {
        border: 0;
        border-radius: 8px;
        width: 120px;
        height: 56px;
        transition: background-color 0.2s linear;
        font-size: 16px;
        background: $orange-300;

        &:hover {
            background: $orange-500;
        }

        &:active {
            background: $orange-300;
        }
    }
}

@media screen and (max-width: 768px) {
    .attractions-form {
        margin-bottom: 68px;

        &-input {
            flex-direction: column;
            margin-bottom: 8px;

            .form-image-wrapper .form-image {
                width: 100%;
                padding: 94px 0;
            }
        }

        .form-text-wrapper {
            max-width: 344px;
            width: 100%;
            margin: 0;

            .form-title {
                margin: 0 0 16px 0;
                max-width: 344px;
            }
        }
    }

    .form-button-wrapper .form-submit-button {
        width: 344px;
    }
}
