.list-title {
    margin: 0 0 32px;
}

.attractions-item {
    display: inline-flex;
    flex-direction: row;
    max-width: 576px;
    width: 100%;
    max-height: 212px;
    height: 100%;
    box-shadow: 0px 4px 16px $gray-100;
    border-radius: 8px;
    margin: 0 24px 16px 0;
}

.image-result {
    max-width: 288px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;

    &-text {
        margin: 24px;
        overflow-y: scroll;

        .image-result-title {
            height: 60px;
            line-height: 28px;
        }
        .image-result-description {
            line-height: 24px;
        }
    }
}

@media screen and (max-width: 768px) {
    .list-title {
        margin: 0 0 32px 10px;
    }

    .attractions-item {
        flex-direction: column;
        max-width: 343px;
        max-height: 424px;
        width: 100%;
        height: 100%;
        margin: 0 0 24px 0;
    }

    .image-result {
        max-width: 344px;
        max-height: 212px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;

        &-text {
            margin: 24px 30px 24px 50px;
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: 375px) {
    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 20px;
    }

    .image-result-text {
        margin: 24px 10px 24px 30px;
        padding-right: 20px;

        .image-result-title {
            height: 46px;
            line-height: 24px;
        }
    }
}
