body,
input,
textarea {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: $gray-400;
}

input,
textarea {
    letter-spacing: 0.15px;
}

h2,
h3,
button {
    font-family: "Poppins", sans-serif;
}

h2 {
    color: $black;
    font-size: 32px;
}

h3 {
    color: $gray-500;
    font-size: 24px;
}

button {
    cursor: pointer;
    color: $white;
    background: $orange-300;
}

